{% extends 'layout.html' %}
{% block content %}
<h2>Tambah Pegawai Baru</h2>
<form method="POST">
    <label>NIP:</label><br>
    <input type="text" name="nip" required><br><br>

    <label>Nama:</label><br>
    <input type="text" name="nama" required><br><br>

    <label>Nomor WhatsApp:</label><br>
    <input type="text" name="no_wa"><br><br>

    <label>Password:</label><br>
    <input type="text" name="password" required><br><br>

    <label>Role:</label><br>
    <select name="role" required>
        <option value="pegawai">Pegawai</option>
        <option value="admin">Admin</option>
    </select><br><br>

    <button type="submit">Simpan</button>
</form>
{% endblock %}
